@charset "UTF-8";

/* 共通css */
/* body {
    background-color: #b2b6e6;
    color: #4b56d2;
} */

body {
    margin: 0;
    color: #4b56d2;
}

.sub-body {
	width: 100%;
	height: 100%;
    padding: 40px 0;
	/* background:linear-gradient(45deg, #3bade3,#9844b7,#44ea76); */
    background: linear-gradient(45deg, #93cfec,#d7a9e8,#99e4af);
	background-size: 200% 200%;
	animation: bggradient 20s ease infinite;
}

@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    margin: 0;
}

h2 {
    margin-bottom: 8px;
}

table {
    padding: 5px;
    border-radius: 5px;
}

select {
    width: 100px;
}

.container {
    margin: 0 auto;
    padding: 20px 40px 20px 40px;
    max-width: 1080px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.footer {
    margin: 0 auto;
    max-width: 1160px;
    background-color: #464242;
    height: 48px;
}

.navbar {
    margin: 40px auto 0 auto;
    max-width: 1160px;
    background-color: #464242;
    
}

/* ナビゲーションバーのcss */
.navbar-content {
    display: flex;
    padding: 0 0 0 40px;
    color: white;
}

.navbar-content ul {
    display: flex;
    margin: 0;
    line-height: 48px;
    
}

.navbar-content li {
    padding: 0 5px;
    list-style: none;
    border: 1px solid rgb(128, 128, 128);
    color: white;
}

.navbar-content a {
    display: block;
    text-decoration: none;
}

.navbar-content a:visited {
    color: white;
}

.navbar-content a:hover {
    opacity: 0.8;
}

/* ページネーションのcss */
.pagination {
    margin-top: 20px;
}

span {
    color: rgb(64, 64, 64);
    padding: 5px 10px 5px 10px;
    border: 1px solid rgb(128, 128, 128);
    border-right: none;
}

.pseudo-span {
    border-top: none;
    border-bottom: none;
}

#now-page {
    color: white;
    background-color: #4b56d2;
}

/* ボタンのcss */
button {
    color: white;
    font-size: 0.8rem;
    padding: 6px 10px 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#register-button,
#add-page-button {
    background-color: #0d6efd;
}

#remove-page-button {
    background-color: #dc3545;
    margin-left: 10px;  
}

.update-button {
    color: #0d6efd;
    background-color: white;
    border: 1px solid #0d6efd;
}

.update-button:hover {
    color: white;
    background-color: #0d6efd;
}

.non-border-td {
    border: none;
}

.page-buttons {
    display: flex;
    margin-top: 10px;
}

#add-page-button,
#remove-page-button {
    padding: 12px;
}

/* 統計情報 */
.stats td {
    width: 100px;
}

/* エクスポート */
.data-export {
    display: flex;
}

.export-wrapper {
    margin-right: 40px;
}

#export-data_table-button,
#export-user-button {
    background-color: #0d6efd;
    padding: 12px;
}


/* 新規追記 */
#on-off-button {
    background-color: #0d6efd;
    padding: 12px;
}

.off {
    display: none;
}