{% extends 'base.html' %}
{% load static %}

{% block title %}About | Rails Tutorial Sample App{% endblock %}

{% block contents %}
<div class="center bg-light p-5 my-4 rounded">
    <h1>About</h1>
    <p>
        <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
        is a <a href="https://railstutorial.jp/#ebook">book</a> and
        <a href="https://railstutorial.jp/screencast">screencast</a>
        to teach web development with
        <a href="https://rubyonrails.org/">Ruby on Rails</a>.
        This is the sample application for the tutorial.
    </p>
</div>
{% endblock %}