{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
    <![endif]-->
</head>
<body>
    <!-- <header class="navbar fixed-top navbar-dark bg-dark">
        <div class="container">
            <a id="logo" href="#">sample app</a>
            <nav>
                <ul class="nav navbar-nav me-auto">
                    <li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item"><a href="#">Help</a></li>
                    <li class="nav-item"><a href="#">Log in</a></li>
                </ul>
            </nav>
        </div>
    </header> -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a id="logo" class="navbar-brand" href="#">sample app</a>
            <div class="navbar-nav">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#">Help</a>
                <a class="nav-link" href="#">Log in</a>
            </div>
        </div>
      </nav>

    <div class="container">
        {% block contents %}{% endblock %}
    </div>
</body>
</html>