{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
    <![endif]-->
</head>
<body>
    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a id="logo" class="navbar-brand" href="#">sample app</a>
            <div class="navbar-nav">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#">Help</a>
                <a class="nav-link" href="#">Log in</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- main content -->
        {% block contents %}{% endblock %}
        <!-- footer -->
        <footer class="footer">
            <small>
                The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
                by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
            </small>
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="http://news.railstutorial.org/">News</a></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>